<!DOCTYPE html>
<html>
  <head>
    <title>Header Parser</title>
    <meta name="description" content="A freecodecamp projecy">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class = "container">
      <h2>
        Header Parser Microservice
      </h2>
      <h3>
        User Stories: I can get the IP address, language and operating system for my browser.
      </h3>
      <h4>
        <a href = "/views/parser" target="_blank">Click Here to Parse</a>
      </h4>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
